catboost==1.2
dill
pandas
scikit_learn
setuptools
numpy
seaborn
matplotlib
catboost
xgboost
Flask
# -e .   -> uncomment it at last to build packages after making project
# pip install -r requirements.txt